@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, sans-serif;
    background-color: #fefefe;

    --secondary-colour: #00498d;

    --dark-text: rgb(26, 25, 25);
}

body {
    width: 100%;
    margin: auto;
}

#container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

a {
    text-decoration: none;
    color: var(--dark-text);
    transition: 200ms;
}

a:hover {
    color: var(--secondary-colour);
    transition: 200ms;
}

b {
    color: #000;
}

h2 {
    font-family: Roboto Mono;
    color: var(--secondary-colour);
    font-size: 1em;
}

h2 a {
    color: var(--secondary-colour);
}

svg {
    width: 20px;
    height: 20px;
}

.arrow-right {
    fill: var(--dark-text);
    transform: scale(0.5);
}

/* Header */
#header {
    width: 100%;
    padding: 20px 0 12px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
}
#header nav {
    margin: 0 0 14px auto;
}
#header nav a {
    font-size: 0.79em;
    font-family: Roboto Mono;
    padding: 0 6px 0 6px;
}

#bio {
    margin-top: 75px;
}
#bio > p {
    line-height: 1.4em;
}
#bio #greeting {
    font-size: 2em;
    font-weight: 300;

}
#bio #description {
    margin-top: 45px;

    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}
#bio .blue {
    color: var(--secondary-colour);
}



#content {
    margin-top: 80px;
    max-width: 800px;
    color: var(--dark-text);
}


/* Project */
#projects #project-container {
    margin-top: 30px;
}
#projects #project-container > div {
    margin-bottom: 60px;
}
#projects #project-container > div .desc .title {
    display: flex;
    align-items: center;

    font-size: 1.3em;
}
#projects #project-container > div .desc .title h3 {
    display: inline;
    margin-right: 4px;
    font-weight: normal;
    font-size: 1.3em;
}
#projects #project-container > div .desc p {
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: 300;
}
#projects #project-container > div .skills {
    margin-top: 30px;
    font-size: 1.2em;
}
#projects #project-container > div .skills .skills-header{
    font-weight: 400;
}
#projects #project-container > div .skills p {
    font-weight: 300;
    margin-top: 4px;
}

/* Footer */
#footer {
    margin-top: 110px;
}
#footer #contact #contact-container {
    margin-top: 14px;
}
#footer a {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 0;
}
#footer a p{
    display: inline;
    font-size: 1.2em;
}
#footer #copyright {
    font-family: Roboto Mono;
    margin-top: 60px;
    padding-bottom: 4px;
    color: var(--dark-text);
    text-align: center;
}


/* Resume Page */
#resume-content{
    max-width: 800px;
    color: var(--dark-text);
}

#resume-content *{
    line-height: 1.5em;
}

#resume-content ul {
    list-style-position: inside;
    list-style-type: none;
    margin-top: 10px;
}

#resume-content ul li{
    margin-bottom: 6px;
}

#resume-content ul li:before{
    content: "- ";
}

#resume-content .entry {
    margin-top: 20px;
    margin-bottom: 60px;
    line-height: 1.3em;
}

#resume-content .title{
    display: inline;
}

#resume-content .date {
    display: inline;
}

#resume-content .description {
    margin-top: 10px;
}

#resume-content .tech,
#resume-content .lesson {
    margin-top: 10px;
}

#resume-education,
#resume-experience,
#resume-projects {
    margin-top: 60px;
}

#resume-footer #copyright {
    padding-bottom: 4px;
    color: var(--dark-text);
    text-align: center;
}


/* Responsive Design */
@media (min-width: 576px) {
    #container {
        width: 80%;
    }
    #header {

        justify-content: space-between;
    }
    #header nav {
        display: block;
    }

    #projects #project-container {
        margin-bottom: 110px;
    }

    #footer {
        margin-top: 80px;
    }

    /* Resume Page */
    #resume-content *{
        line-height: 1.2em;
    }
}

@media (min-width: 768px) {
    #bio > p {
        width: 80%;
    }

    #content {
        margin-top: 30px;
    }

    #projects {
        margin-top: 80px;
    }

    /* Resume Page */
    #resume-content *{
        line-height: 1.3em;
    }

    #projects #project-container > div{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    #projects #project-container .desc {
        width: 50%;
    }
    #projects #project-container .skills {
        width: 40%;
    }
}

@media (min-width: 992px) {
    body {
        max-width: 1000px;
    }
}